body{
    background-color: #fbfbfb;

    background-repeat: no-repeat;

}

#root{
    /*background-image: linear-gradient(to right top, #d65db1, #ff6e91, #ff9671, #ffc75f, #f9f871);*/
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 2200px;
    padding-top: 100px;
}
.logo{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 64px;
}

.search-input{
    padding-left: 20px;
    height: 75px;
    font-size: 40px;
    border-radius: 50px;
    padding-left: 50px;
}
#basic-addon1{
    background-color: #fff;
    border: 0px;
}
.input-group{
    margin-top: 50px;
    width: 800px;
}
.result-list{
    width: 1000px;
}

.custom-card{
    width: 800px;
    color: #fff;
    background-color: #86A8E7;
    /*border-top: 1px solid #ff6c6f;*/
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.hvr-sweep-to-right:before {
    background: #BA83CA;
}